.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.div-block {
  background-color: #32cd68;
}

.div-block-2 {
  height: 13%;
}

.div-block-3 {
  background-color: #24cc59;
}

.div-block-4 {
  height: 100%;
  background-color: #5e5e5e;
}

.div-block-5 {
  background-color: #9f2d2d;
}

.section {
  height: 100%;
  background-color: #a8a8a8;
}

.section-2 {
  background-color: #00cc63;
}

.column {
  height: 100%;
  margin-top: 10px;
  padding-left: 0px;
}

.column-2 {
  position: static;
  display: block;
  overflow: hidden;
  height: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #e0e0e0;
}

.tabs {
  width: 100%;
}

.tab-link-tab-1 {
  width: 59.65%;
}

.tab-link-tab-1.w--current {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.tab-link-tab-2 {
  width: 100%;
  height: 100%;
}

.tab-link-tab-3 {
  width: 100%;
  height: 100%;
}

.text-block {
  width: 100%;
  height: 100%;
  font-family: Bebas, sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.body {
  overflow: hidden;
  font-family: Exo, sans-serif;
}

.text-block-2 {
  width: 100.334821%;
  height: 100%;
  font-family: Bebas, sans-serif;
  font-size: 35px;
  text-align: center;
}

.text-block-3 {
  width: 100.334821%;
  height: 100%;
  font-family: Bebas, sans-serif;
  font-size: 35px;
  text-align: center;
}

.columns {
  overflow: hidden;
  height: 1000px;
}

.grid {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.button {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #22ac00;
  font-family: Bebas, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.button-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #22ac00;
  font-family: Bebas, sans-serif;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.button-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #22ac00;
  font-family: Bebas, sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.button-4 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #22ac00;
  font-family: Bebas, sans-serif;
  font-size: 25px;
  text-align: center;
}

.text-block-4 {
  position: static;
  height: 100%;
  margin-top: 500px;
  clear: none;
  text-align: center;
}

.columns-2 {
  overflow: hidden;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.grid-2 {
  height: auto;
  margin-left: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.image {
  background-color: #b54f4f;
  color: #c14949;
}

.image-2 {
  width: 100px;
  height: 100px;
  padding: 5px;
  background-color: #545454;
}

.column-3 {
  position: relative;
  left: auto;
  height: auto;
  padding-left: 0px;
  background-color: #5c5c5c;
}

.text-block-5 {
  overflow: auto;
  height: 100%;
  text-align: center;
}

.image-3 {
  width: auto;
  height: auto;
  padding: 0px;
  background-color: #008a0e;
}

.column-4 {
  height: auto;
  background-color: hsla(126.0431654676259, 100.00%, 27.25%, 0.83);
}

.image-4 {
  background-color: #5e5e5e;
}

.column-5 {
  background-color: #787878;
}

.image-5 {
  background-color: #00a846;
}

.column-6 {
  background-color: hsla(144.99999999999997, 100.00%, 36.33%, 1.00);
}

.grid-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 0px 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: hsla(141.02564102564102, 100.00%, 30.33%, 1.00);
}

.image-6 {
  max-width: 100%;
  padding: 10px;
  background-color: #007529;
}

.image-7 {
  background-color: #d16c00;
}

.grid-4 {
  grid-column-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 0px 0.75fr 0px 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #be2d2d;
}

.image-8 {
  max-width: 100%;
  padding: 10px;
  background-color: #a20000;
}

.grid-5 {
  grid-column-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 0px 0.75fr 0px 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: hsla(56.66666666666667, 100.00%, 40.00%, 1.00);
}

.image-9 {
  max-width: 100%;
  padding: 10px;
  background-color: #a39b00;
}

.grid-6 {
  max-height: 110px;
  grid-column-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 0.25fr 0px 0.75fr 0px 0.25fr;
  grid-template-columns: 0.25fr 0.75fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: hsla(259.20000000000005, 14.69%, 53.90%, 1.00);
}

.image-10 {
  height: 110px;
  max-height: none;
  max-width: 100%;
  padding: 20px;
  background-color: #5f5770;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 0px;
}

.button-5 {
  padding-top: 20px;
}

.form-block {
  height: auto;
  padding-left: 10px;
}

.heading-2 {
  text-align: center;
}

.field-label {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-family: Bebas, sans-serif;
  font-size: 25px;
}

.button-6 {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  text-align: right;
}

.button-7 {
  width: 100%;
  background-color: #3898ec;
  font-size: 30px;
  text-align: center;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}

.field-label-4 {
  margin-top: 20px;
  padding-top: 5px;
  font-family: Bebas, sans-serif;
  color: #009b36;
  font-size: 40px;
}

.grid-7 {
  margin-top: 10px;
  grid-column-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 2fr 0px 1fr 0px 0.25fr 0px 0.25fr;
  grid-template-columns: 2fr 1fr 0.25fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-8 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #36ec52;
  font-size: 30px;
  text-align: center;
}

.button-9 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ec3636;
  font-size: 30px;
  text-align: center;
}

.text-block-6 {
  width: 100%;
  padding: 10px 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 1px none #000;
  border-radius: 10px 0px 0px 10px;
  background-color: #009b36;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.text-field {
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}

.field-label-5 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: center;
}

.field-label-6 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  text-align: center;
}

.form {
  overflow: scroll;
  height: 600px;
}

.columns-3 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

.select-field {
  margin-top: 10px;
}

.heading-4 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Bebas, sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.heading-5 {
  width: 100%;
  float: left;
  font-family: Bebas, sans-serif;
  color: #007694;
}

.text-block-7 {
  width: 100%;
  padding: 10px 15px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 1px none #000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #007694;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.checkbox-field {
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  font-size: 20px;
  text-align: left;
}

.checkbox {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 25px;
  padding-left: 0px;
  border-radius: 0px;
  background-color: transparent;
}

.checkbox-label {
  height: 100%;
  margin-top: 5px;
  float: left;
  clear: right;
  background-color: transparent;
  font-size: 100%;
  line-height: 100%;
  font-weight: 900;
  text-transform: none;
}

.heading-6 {
  overflow: hidden;
}

@media (max-width: 767px) {
  .button-7 {
    overflow: auto;
  }
}

@media (max-width: 479px) {
  .button-7 {
    font-size: 25px;
  }
}

#w-node-2cb325f4ef68-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-c55cabfa1163-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-0f9df97feef4-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-6c3d70b68ccd-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-abe1e867243b-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-abe1e867243b-c233a2cb {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-66b00e86aa66-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-66b00e86aa66-c233a2cb {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-4e11b424cdad-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-115b361add90-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2aeb27668c45-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-2aeb27668c46-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-81f0f3e1ac62-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-422b1bb3ca1b-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-84d08c0785c5-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-e89b67985058-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-fb99d8858ab6-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5585f04ce2e3-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-42b673ab639c-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-6f804b4bd4b3-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-35949befb666-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-287319e6cc86-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-287319e6cc88-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-287319e6cc89-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-287319e6cc8b-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-287319e6cc8f-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-287319e6cc91-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-287319e6cc92-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-287319e6cc94-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-11e8f08c4acb-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-11e8f08c4acd-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-11e8f08c4ace-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-11e8f08c4ad0-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-11e8f08c4ad4-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-11e8f08c4ad6-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-11e8f08c4ad7-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-11e8f08c4ad9-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-99385ff26ecc-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-99385ff26ece-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-99385ff26ecf-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-99385ff26ed1-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-99385ff26ed5-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-99385ff26ed7-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-99385ff26ed8-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-99385ff26eda-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2f9a3a14e3b3-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-2f9a3a14e3b5-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-2f9a3a14e3b6-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2f9a3a14e3b8-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2f9a3a14e3bc-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-2f9a3a14e3be-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-2f9a3a14e3bf-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-2f9a3a14e3c1-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-41e6620d6f20-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-bb4db383482f-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-bb4db3834830-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-bb4db3834832-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-bb4db3834838-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-bb4db3834839-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-bb4db383483b-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-b65622642082-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-977ef5cbe712-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-977ef5cbe713-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-977ef5cbe715-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-5164045596c3-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-977ef5cbe71b-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-977ef5cbe71c-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-977ef5cbe71e-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-8c2327445a5d-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-53c97a46b0eb-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-53c97a46b0ec-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-53c97a46b0ee-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-ccdbfbd749d2-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#field-3.w-node-53c97a46b0f4-c233a2cb {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-53c97a46b0f5-c233a2cb {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-53c97a46b0f7-c233a2cb {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-9ca6ffa7b405-c233a2cb {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
  align-self: center;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}